header {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(145, 182, 170);
  h1 {
    margin-top: 0%;
    text-align: left;
    font-size: 4em;
    padding: 1%;
  }
  .userCart {
    max-height: 40px;
    margin-left: 65%;
    margin-top: 3%;
    float: right;
  }
}
